*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.aboutmainimgs {
    height: 400px;
    width: 100%;
    border-radius: 10px;
}
.inneraboutdiv {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 5px;
    transform: translateY(-270px);
    color: white;
    background-color: rgba(0,0,0,0.5);
}
.inneraboutdiv p {
    text-align: center;
}
#inneraboutdiv1 {
    border-radius: 3px;
    width: 80%;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 20px;
    padding: 20px 5px 40px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: lightblue;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}
.innerabout1 h2 {
    width: 122px;
    border-bottom: 4px solid purple;
    padding-bottom: 5px;
}
.innerabout1 p{
    margin-top: 10px;
    text-align: justify;
}
.innerabout2 h2 {
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
}
.innerabout2 p {
    margin-top: 8px;
}
.innerabout3 h2 {
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
}
.innerabout3 p {
    margin-top: 8px;
}
#aboutbody3 {
    border-bottom: 1px solid grey;
    padding: 35px 0px 35px 0px;
    text-align: center;
    background-color: navy;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 2px;
}