*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.alltoursimg {
    border-radius: 10px;
    margin-top: 1px;
}
.natures {
    border: 1px solid black;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 0px 10px 0px;
    transform: translateY(-200px);
    background-color: rgba(0,0,0,0.7);
    color: white;
}
#innernat1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 25px;
    width: 100%;
}
@media(max-width: 775px){
    #innernat1 {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}
@media(min-width: 780px) and (max-width: 1036px){
    #innernat1 {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}
.nature1 {
    height: 220px;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}
.naturetag1 {
    transform: translateY(-70px);
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 5px 0px 5px 0px;
}
.naturetag1 a {
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bolder;
}