*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* #inputsdiv{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.selects{
    font-size: 30px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.selectinput select{
    height: 40px;
    width: 210px;
    margin-left: 10px;
    border-radius: 5px;
}
.selectinput{
    margin-left: 10px;
}
.body2button{
    margin-left: 10px;
    height: 40px;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    border-radius: 5px;
}
.body2button:hover{
    background-color: blue;
} */
#inputsdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0px 30px 0px;
    font-size: 25px;
    font-weight: bold;
}
.selectinput {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.selectinput select {
    padding: 10px 0px 10px 5px;
    border-radius: 7px;
}
.body2button {
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px 2px grey;
    background-color: navy;
    color: white;
    cursor: pointer;
}
.body2button:hover {
    text-decoration: underline;
}