*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#boxmodels1 {
    padding-top: 10px;
    padding-bottom: 20px;
    background-image: url('https://images7.alphacoders.com/487/487798.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.boxmodelspara1 {
    text-align: center;
    color: white;
    font-weight: bold;
}
.boxmodelspara2 {
    text-align: center;
    color: white;
    font-weight: bolder;
}
.smallmodelsdiv1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    color: white;
}
.viewbtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.model1input {
    text-align: center;
    padding: 12px;
    background-color: maroon;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 10px;
}
.model1input:hover {
    border: 1px solid maroon;
    background-color: white;
    color: maroon;
}
.topimg {
    border-radius: 15px;
}