*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contacthead {
    transform: translateY(-260px);
    width: 100px;
    margin: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.contactpara {
    transform: translateY(-250px);
    width: 280px;
    margin: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
#innercontactdiv1 {
    display: flex;
    width: 70%;
    margin: auto;
    height: 400px;
    margin-top: -70px;
}
@media(max-width: 1012px){
    #innercontactdiv1 {
        width: 95%;
    }
}
.contimgdiv2 {
    width: 50%;
}
.contactimg {
    width: 100%;
    height: 400px;
}
.contactinfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 400px;
    padding-top: 40px;
    background-color: antiquewhite;
}
@media(max-width: 550px){
    .contactinfo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .infotour {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    }
}
#contactopendiv {
    text-align: center;
    padding: 25px 0px 25px 0px;
    font-size: 18px;
    font-weight: bolder;
    background-color: maroon;
    color: white;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}
#contactopendiv:hover {
    text-decoration: underline;
}