*{
    margin: 0px;
    padding: 0px;
}
#goamaindiv{
    height: 1250px;
    width: 100%;
    position: relative;
}
.goaimg{
    height: 400px;
    width: 90%;
    border-radius: 15px;
    margin-left: 70px;
}
.goaul{
    margin-left: 20px;
}
#innergoadiv{
    height: 900px;
    width: 1000px;
    margin: auto;
    position: absolute;
    top: 370px;
    left: 180px;
    border: 1px solid black;
    background-color: white;
}
.goahead{
    margin-top: 20px;
    text-align: center;
    color: teal;
    font-size: 35px;
    font-weight: bolder;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.goapara{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: red;
}
#inner2goadiv{
    margin-top: 20px;
    margin-left: 50px;
}
.goatd{
    margin-left: 50px;
    margin-top: 50px;
}
.goahr{
    width: 600px;
    margin-left: 50px;
}
.goaparatd{
    margin-left: 50px;
    margin-top: 10px;
}
.goatr{
    margin-left: 50px;
    margin-top: 30px;
}
.goahr1{
    width: 600px;
    margin-left: 50px;
}
.goalist{
    margin-left: 50px;
}
.goatdet{
    margin-left: 50px;
    margin-top: 30px;
}
.goahr2{
    width: 600px;
    margin-left: 50px;
}
#goatable{
    margin-left: 50px;
    margin-top: 30px;
    text-align: center;
    background-color: teal;
    color: white;
}
#goapsr{
    height: 170px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 400px;
    left: 670px;
}
.goapricediv{
    height: 50px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    background-color: teal;
    color: white;
    font-size: 20px;
}
.goastarting{
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    color: orange;
}
.goarate{
    text-align: center;
    font-size: 25px;
}
#goaletsenjoy{
    height: 150px;
    width: 100%;
    border: 1px solid black;
    background-color: darkblue;
    text-align: center;
    color: white;
    font-size: 33px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.goaclassenjoy{
    margin-top: 50px;
}
.goaicon1{
    margin-top: 15px;
}
.goaicon2{
    margin-left: 220px;
    position:absolute;
    margin-top: -20px;
}
.goaicon3{
    margin-left: 430px;
    position:absolute;
    margin-top: -20px;
}
.goaicon4{
    margin-top: 20px;
}