*{
    margin: 0px;
    padding: 0px;
}
#goacoorgmaindiv{
    height: 1250px;
    width: 100%;
    position: relative;
}
.goacoorgimg{
    height: 400px;
    width: 90%;
    border-radius: 15px;
    margin-left: 70px;
}
.goacoorgul{
    margin-left: 20px;
}
#innergoacoorgdiv{
    height: 900px;
    width: 1000px;
    margin: auto;
    position: absolute;
    top: 370px;
    left: 180px;
    border: 1px solid black;
    background-color: white;
}
.goacoorghead{
    margin-top: 20px;
    text-align: center;
    color: teal;
    font-size: 35px;
    font-weight: bolder;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.goacoorgpara{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: red;
}
#inner2goacoorgdiv{
    margin-top: 20px;
    margin-left: 50px;
}
.goacoorgtd{
    margin-left: 50px;
    margin-top: 50px;
}
.goacoorghr{
    width: 600px;
    margin-left: 50px;
}
.goacoorgparatd{
    margin-left: 50px;
    margin-top: 10px;
}
.goacoorgtr{
    margin-left: 50px;
    margin-top: 30px;
}
.goacoorghr1{
    width: 600px;
    margin-left: 50px;
}
.goacoorglist{
    margin-left: 50px;
}
.goacoorgtdet{
    margin-left: 50px;
    margin-top: 30px;
}
.goacoorghr2{
    width: 600px;
    margin-left: 50px;
}
#goacoorgtable{
    margin-left: 50px;
    margin-top: 20px;
    text-align: center;
    background-color: teal;
    color: white;
}
#goacoorgpsr{
    height: 170px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 400px;
    left: 670px;
}
.goacoorgpricediv{
    height: 50px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    background-color: teal;
    color: white;
    font-size: 20px;
}
.goacoorgstarting{
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    color: orange;
}
.goacoorgrate{
    text-align: center;
    font-size: 25px;
}
#goacoorgletsenjoy{
    height: 150px;
    width: 100%;
    border: 1px solid black;
    background-color: darkblue;
    text-align: center;
    color: white;
    font-size: 33px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.goacoorgclassenjoy{
    margin-top: 50px;
}
.goacoorgicon1{
    margin-top: 15px;
}
.goacoorgicon2{
    margin-left: 220px;
    position:absolute;
    margin-top: -20px;
}
.goacoorgicon3{
    margin-left: 430px;
    position:absolute;
    margin-top: -20px;
}
.goacoorgicon4{
    margin-top: 20px;
}
.goacoorgicon5{
    margin-left: 220px;
    position:absolute;
    margin-top: -20px;
}
.goacoorgicon6{
    margin-left: 430px;
    position:absolute;
    margin-top: -20px;
}
.goacoorgicon7{
    margin-top: 20px;
}
.goacoorgicon8{
    margin-left: 220px;
    position:absolute;
    margin-top: -20px;
}
.goacoorgicon9{
    margin-left: 430px;
    position:absolute;
    margin-top: -20px;
}