*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.naturesimg {
    height: 330px;
    width: 100%;
}
.heritages {
    border: 1px solid black;
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 18px;
    font-weight: bold;
    transform: translateY(-200px);
}
#innerheri1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 0;
}
@media(max-width: 700px){
    #innerheri1 {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}
@media(min-width: 701px) and (max-width: 1036px){
    #innerheri1 {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}
.heritimg1 {
    height: 230px;
    width: 300px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
}
.heritagetag1 {
    border: 1px solid black;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    transform: translateY(-50px);
    color: white;
    font-weight: bolder;
}
.heritagetag1 a {
    color: white;
    text-decoration: none;
}