*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.honeyimg {
    height: 320px;
    width: 100%;
    border-radius: 10px;
    margin-top: 1px;
}
.honeymoons {
    border: 1px solid black;
    padding: 10px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.5);
    color: white;
    transform: translateY(-190px);
}
#innerhoney1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 0px 10px;
}
@media(max-width: 700px){
    #innerhoney1 {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}
@media(max-width: 350px){
    .honeymoonimg1 {
        width: 80%;
    }
}
@media(min-width: 701px) and (max-width: 1035px){
    #innerhoney1 {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}
.honeymoonimg1 {
    height: 220px;
    width: 280px;
    border-radius: 3px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}
.honeymoontag1 {
    border: 1px solid black;
    padding: 5px 0px;
    font-size: 18px;
    font-weight: bolder;
    background-color: rgba(0,0,0,0.5);
    transform: translateY(-60px);
    text-align: center;
}
.honeymoontag1 a {
    color: white;
    text-decoration: none;
}
/* #honeymoonimg{
    height: 1100px;
    width: 100%;
    border: 0px solid black;
}
.honeymoonimg{
    position: relative;
    border-radius: 15px;
}
.honeymoons{
    position:absolute;
    top: 250px;
    left: 44%;
    font-size: 30px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: pink;
}
.honeymoon1{
    height: 250px;
    width: 250px;
    border: 0px solid black;
    position:relative;
}
.honeymoon2{
    height: 250px;
    width: 250px;
    border: 0px solid black;
    position:relative;
}
.honeymoon3{
    height: 250px;
    width: 250px;
    border: 0px solid black;
    position:relative;
}
.honeymoon4{
    height: 250px;
    width: 250px;
    border: 0px solid black;
    position:relative;
}
.honeymoon5{
    height: 250px;
    width: 250px;
    border: 0px solid black;
    position:relative;
}
.honeymoon6{
    height: 250px;
    width: 250px;
    border: 0px solid black;
    position:relative;
}
.honeymoontag1{
    position:absolute;
    top: 190px;
    left: 13px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
}
.honeymoontag2{
    position:absolute;
    top: 190px;
    left: 3px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
}
.honeymoontag3{
    position:absolute;
    top: 190px;
    left: 30px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
}
.honeymoontag4{
    position:absolute;
    top: 190px;
    left: 70px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
}
.honeymoontag5{
    position:absolute;
    top: 190px;
    left: 100px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
}
.honeymoontag6{
    position:absolute;
    top: 190px;
    left: 25px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:yellow;
}
#innerhoney1{
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-top: 100px;
}
#innerhoney2{
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-top: 40px;
} */
