*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#containerindonesia1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 50px;
    background-color: #f7f7f7;
}
#containerindonesia1 h1 {
    margin-top: 10px;
    border-bottom: 4px solid navy;
    width: 238px;
}
#containerindonesia1 p {
    text-align: justify;
    font-size: 15px;
}
#containerindonesia2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 50px 20px 50px;
    margin-bottom: -15px;
    margin-top: 30px;
    background-color: #f7f7f7
}
.innerindonesia1 {
    width: 70%;
}
.innerindonesia1 p {
    margin-top: 10px;
}
.mainindocarddiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.indonesiacard1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 10px 0px;
    background-color:antiquewhite;
    border-radius: 10px;
    margin-bottom: 20px;
}
.mountimg {
    height: 230px;
    width: 300px;
}
.baliimg {
    height: 230px;
    width: 300px;
}
.mountimg {
    margin-top: 12px;
}
.innerindonesia2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.indoinnercard2 h3 {
    border-bottom: 2px solid black;
}
.indoinnercard2 p {
    font-size: 14px;
}
@media(max-width: 545px){
    .indoinnercard2 {
        text-align: center;
    }
    .baliimg {
        width: 100%;
    }
    .mountimg {
        width: 100%;
    }
}
@media(max-width: 605px){
    .innercardbtns {
        justify-content: center;
    }
}
.innercardbtns {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 15px;
}
.indobtn1 {
    padding: 5px 5px;
    font-size: 12px;
    font-weight: bold;
    background-color: grey;
    color: white;
    border-radius: 5px;
}
.childindonesia1 {
    border: 1px solid black;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 0px 20px 0px;
    margin-top: 10px;
}
@media(max-width: 490px){
    .childindonesia1 {
        width: 95%;
    }
}
.childindonesia1 h3 {
    padding-left: 10px;
    background-color: hsl(10, 30%, 40%);
    color: white;
}
.innerchildindo1 {
    padding-left: 10px;
}
.call {
    font-size: 15px;
    color: grey;
}
.childindonesia2 {
    border: 1px solid black;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 0px 20px 0px;
}
@media(max-width: 490px){
    .childindonesia2 {
        width: 95%;
    }
}
.childindonesia2 h3 {
    padding-left: 10px;
    background-color: hsl(10, 30%, 40%);
    color: white;
}
.innerchildindo2 {
    padding-left: 10px;
}
.arrow {
    font-size: 12px;
}
.innerjuniorindo1 {
    display: flex;
    gap: 2px;
}
.childindonesia3 {
    border: 1px solid black;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 0px 20px 0px;
}
@media(max-width: 490px){
    .childindonesia3 {
        width: 95%;
    }
}
.childindonesia3 h3 {
    padding-left: 10px;
    background-color: hsl(10, 30%, 40%);
    color: white;
}
.innerchildindo3 {
    padding-left: 10px;
}
.innerjuniorindo2 {
    display: flex;
    gap: 2px;
}
.childindonesia4 {
    border: 1px solid black;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 0px 20px 0px;
}
@media(max-width: 490px){
    .childindonesia4 {
        width: 95%;
        text-align: start;
    }
}
.childindonesia4 h3 {
    padding-left: 10px;
    background-color: hsl(10, 30%, 40%);
    color: white;
}
.innerchildindo4 {
    padding-left: 10px;
}
.innerjuniorindo3 {
    display: flex;
    gap: 2px;
}
.right {
    font-size: 15px;
    color: grey;
}