*{
    margin: 0px;
    padding: 0px;
}
#eastmaindiv{
    height: 1250px;
    width: 100%;
    position: relative;
}
.eastimg{
    height: 400px;
    width: 90%;
    border-radius: 15px;
    margin-left: 70px;
}
.eastul{
    margin-left: 20px;
}
#innereastdiv{
    height: 900px;
    width: 1000px;
    margin: auto;
    position: absolute;
    top: 370px;
    left: 180px;
    border: 1px solid black;
    background-color: white;
}
.easthead{
    margin-top: 20px;
    text-align: center;
    color: teal;
    font-size: 35px;
    font-weight: bolder;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.eastpara{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: red;
}
#inner2eastdiv{
    margin-top: 20px;
    margin-left: 50px;
}
.easttd{
    margin-left: 50px;
    margin-top: 50px;
}
.easthr{
    width: 600px;
    margin-left: 50px;
}
.eastparatd{
    margin-left: 50px;
    margin-top: 10px;
}
.easttr{
    margin-left: 50px;
    margin-top: 30px;
}
.easthr1{
    width: 600px;
    margin-left: 50px;
}
.eastlist{
    margin-left: 50px;
}
.easttdet{
    margin-left: 50px;
    margin-top: 30px;
}
.easthr2{
    width: 600px;
    margin-left: 50px;
}
#easttable{
    margin-left: 50px;
    margin-top: 20px;
    text-align: center;
    background-color: teal;
    color: white;
}
#eastpsr{
    height: 170px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 400px;
    left: 670px;
}
.eastpricediv{
    height: 50px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    background-color: teal;
    color: white;
    font-size: 20px;
}
.eaststarting{
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    color: orange;
}
.eastrate{
    text-align: center;
    font-size: 25px;
}
#eastletsenjoy{
    height: 150px;
    width: 100%;
    border: 1px solid black;
    background-color: darkblue;
    text-align: center;
    color: white;
    font-size: 33px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.eastclassenjoy{
    margin-top: 50px;
}
.easticon1{
    margin-top: 15px;
}
.easticon2{
    margin-left: 220px;
    position:absolute;
    margin-top: -20px;
}
.easticon3{
    margin-left: 430px;
    position:absolute;
    margin-top: -20px;
}
.easticon4{
    margin-top: 20px;
}
.easticon5{
    margin-left: 220px;
    position:absolute;
    margin-top: -20px;
}
.easticon6{
    margin-left: 430px;
    position:absolute;
    margin-top: -20px;
}
.easticon7{
    margin-top: 20px;
}
.easticon8{
    margin-left: 220px;
    position:absolute;
    margin-top: -20px;
}
.easticon9{
    margin-left: 430px;
    position:absolute;
    margin-top: -20px;
}