*{
    margin: 0px;
    padding: 0px;
}
#mncmaindiv{
    height: 1250px;
    width: 100%;
    position: relative;
}
.mncimg{
    height: 400px;
    width: 90%;
    border-radius: 15px;
    margin-left: 70px;
}
.mncul{
    margin-left: 20px;
}
#innermncdiv{
    height: 900px;
    width: 1000px;
    margin: auto;
    position: absolute;
    top: 370px;
    left: 180px;
    border: 1px solid black;
    background-color: white;
}
.mnchead{
    margin-top: 20px;
    text-align: center;
    color: teal;
    font-size: 35px;
    font-weight: bolder;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.mncpara{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: red;
}
#inner2mncdiv{
    margin-top: 20px;
    margin-left: 50px;
}
.mnctd{
    margin-left: 50px;
    margin-top: 50px;
}
.mnchr{
    width: 600px;
    margin-left: 50px;
}
.mncparatd{
    margin-left: 50px;
    margin-top: 10px;
}
.mnctr{
    margin-left: 50px;
    margin-top: 30px;
}
.mnchr1{
    width: 600px;
    margin-left: 50px;
}
.mnclist{
    margin-left: 50px;
}
.mnctdet{
    margin-left: 50px;
    margin-top: 30px;
}
.mnchr2{
    width: 600px;
    margin-left: 50px;
}
#ootytable{
    margin-left: 50px;
    margin-top: 30px;
    text-align: center;
    background-color: teal;
    color: white;
}
#mncpsr{
    height: 170px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 400px;
    left: 670px;
}
.mncpricediv{
    height: 50px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    background-color: teal;
    color: white;
    font-size: 20px;
}
.mncstarting{
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    color: orange;
}
.mncrate{
    text-align: center;
    font-size: 25px;
}
#mncletsenjoy{
    height: 150px;
    width: 100%;
    border: 1px solid black;
    background-color: darkblue;
    text-align: center;
    color: white;
    font-size: 33px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mncclassenjoy{
    margin-top: 50px;
}
.ootyicon1{
    margin-top: 15px;
}
.ootyicon2{
    margin-left: 220px;
    position:absolute;
    margin-top: -20px;
}
.ootyicon3{
    margin-left: 430px;
    position:absolute;
    margin-top: -20px;
}
.ootyicon4{
    margin-top: 20px;
}