*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#parentcontinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin-top: -20px;
    margin-bottom: 20px;
}
.tourinfomainimg {
    height: 320px;
    width: 100%;
    border-radius: 10px;
}
.tourinfodiv {
    width: 122px;
    margin: auto;
    text-align: center;
    transform: translateY(-210px);
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
.tourinfodiv1 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 3px;
    background-color: lightblue;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}
.tourinfodiv2 {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    background-color: navy;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    color: white;
}
.tourinfodiv2 h2 {
    text-align: center;
}
.tourinfodiv3 {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    background-color: lightblue;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}
.tourinfodiv3 h2 {
    text-align: center;
}
.tourinfodiv4 {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    background-color: navy;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    color: white;
}
.tourinfodiv4 h2 {
    text-align: center;
}
.tourinfodiv5 {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    background-color: lightblue;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}
.tourinfodiv5 h2 {
    text-align: center;
}
.tourinfodiv6 {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    background-color: navy;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    color: white;
}
.tourinfodiv6 h2 {
    text-align: center;
}
.tourinfodiv7 {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    background-color: lightblue;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}
.tourinfodiv7 h2 {
    text-align: center;
}
.tourinfodiv8 {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    background-color: navy;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    color: white;
}
.tourinfodiv8 h2 {
    text-align: center;
}
.tourinfopara8a {
    padding-left: 20px;
}
.tourinfopara8A {
    padding-left: 20px;
}
.tourinfodiv9 {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    background-color: lightblue;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}
.tourinfodiv9 h2 {
    text-align: center;
}
.tourinfodiv10 {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    background-color: navy;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    color: white;
}
.tourinfodiv10 h2 {
    text-align: center;
}
.tourinfopara10 {
    padding-left: 20px;
}
.tourinfodiv11 {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    background-color: lightblue;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}
.tourinfodiv11 h2 {
    text-align: center;
}
.tourinfodiv12 {
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
    background-color: navy;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    color: white;
}
.tourinfodiv12 h2 {
    text-align: center;
}
.tourinfopara12a {
    padding-left: 20px;
}
.tourinfobody3 {
    border-radius: 10px;
    padding: 35px 0px 35px 0px;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 1px;
    font-size: 20px;
    font-weight: bold;
    background-color: navy;
    color: white;
}