*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.whyusimgb {
    height: 350px;
    width: 100%;
    border-radius: 10px;
}
.whyusparadiv {
    text-align: center;
    transform: translateY(-200px);
    padding: 10px 0px 10px 0px;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
#whyusinnerdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: -15px;
    margin-bottom: 20px;
}
.whyusdiv1 {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    width: 70%;
    border-radius: 3px;
}
.whuusinner1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #ffffff;
}
.whuusinner1 h2 {
    text-align: center;
}
.whuusinner1 p {
    text-align: center;
    background-color: plum;
    color: black;
}
.whyusimg {
    width: 50%;
}
#whyusbody3 {
    padding: 35px 0px 35px 0px;
    text-align: center;
    color: white;
    background-color: navy;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 1px;
}